@mixin inner-responsive {
   width: 100%;
   padding: 10px;
}

@media screen and (max-width: 480px) {

	html {
	   width: 100%;
		-webkit-text-size-adjust: none;
	}

	body {
	   width: 100%;
	}

	#container {
	   margin: 0;
	   width: 100%;
	   box-shadow: none;
	   position: inline;
	   border: 0;
	}

   header {

      width: 100%;

      #hct {
         @include inner-responsive;
         height: 25px;
      }

      h2 {
         line-height: 1em;
         font-size: 1.5em;
      }

      a#vcard {
         display: none;
      }

      nav {
         @include inner-responsive;
         margin: 0;
         padding: 0 10px;

         ul li a {
            padding: 5px 0;

            &:hover {
               padding: 5px 0;
            }
            &.selected {
               padding: 5px 0;
            }
         }
      }
   }

   #content {
      @include inner-responsive;
   }

   footer {
      width: 100%;

      #lfm {
         @include inner-responsive;

         padding: 3px 20px;
      }

      #footer-text {
         display: none;
         @include inner-responsive;
      }

      a#info-btn {
         display: none;
      }
   }

   section {
      width: 100%;
   }

   #c-networks {
      a.network {
         float: left;
         clear: left;
         width: 90%;

         span.p {
            width: 70%;
         }
      }
   }
}

@media only screen and (max-width : 320px) {
   /* Put your iPhone 3G styles vertical in here */
   #content {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      height: 223px;
   }
}

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
/* iPhone 5 */
   #content {
      height: 312px;
   }
}

@media screen and (max-width: 480px) {
   #bgs {
      display: none !important;
   }
}
