@use "sass:meta";
@use "boilerplate.scss";

/* Styles for wschurman.com v2 */

/* Colors */

$link-color: #999595;
$link-hover: #06e;

$nav-bg: #515151;
$nav-link: #FFF;

$html-bg: #C2C8CF;
$html-color: #444;
$container-bg: #E7E6E5;
$container-bg-2: #BBB; /* For gradient */
$light-border: #ADADAD;

/* Metrics */

$radius: 4px; /* global border radius */
$pad: 20px;
$outer-width: 500px;
$inner-width: $outer-width - 2 * $pad;
$cwidth: 620px; /* Colophon */

/* mixins */

@mixin clear-left {
   float: left;
   clear: left;
}

@mixin glob-radius {
   border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
}

@mixin radius($r) {
   border-radius: $r;
   -moz-border-radius: $r;
   -webkit-border-radius: $r;
}

@mixin inner-container {
   width: $inner-width;
   padding: $pad;
}

@mixin footer-container {
   width: $inner-width;
   padding: 5px $pad;
}

@mixin linear-gradient($c1, $c2) {
   background-image: linear-gradient(top, $c1, $c2);
   background-image: -o-linear-gradient(top, $c1, $c2);
   background-image: -moz-linear-gradient(top, $c1, $c2);
   background-image: -webkit-linear-gradient(top, $c1, $c2);
   background-image: -ms-linear-gradient(top, $c1, $c2);
}

@mixin transition($s) { /* all 0.1s ease-out */
   -webkit-transition: $s;  /* Saf3.2+, Chrome */
   -moz-transition: $s;  /* FF4+ */
   -ms-transition: $s;  /* IE10 */
   -o-transition: $s;  /* Opera 10.5+ */
   transition: $s;
}

/* Styles */

html {
   color: $html-color;
   height: 100%;
   background-color: $html-bg;
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   text-shadow: 0 1px rgba(255, 255, 255, .6);
}

a {
   color: $link-color;
   text-decoration: none;
   outline: 0;

   &:hover {
      text-decoration: underline;
      color: $link-hover;
      outline: 0;
   }
   &:visited {
      color: $link-color;
      outline: 0;
   }
   &:focus {
      outline: 0;
   }
}

#container {
   @include glob-radius;

   margin: 0 auto;
   width: $outer-width;
   margin-top: 60px;
   background: $container-bg;
   overflow: hidden;
   border: 1px solid $link-color;
   box-shadow: 0 0 10px rgba(0,0,0,.5);
   position: relative;
   z-index: 10;
}

@mixin metal-grad {
   @include linear-gradient($container-bg 0%, $container-bg-2 100%);
}

header {
   @include clear-left;
   @include metal-grad;
   @include inner-container;

   border-bottom: 1px solid #515151;
   overflow: hidden;
   
   position: relative;
   height: 40px;

   h2 {
      margin: 0;
      line-height: 1.2em;
      color: #222;
      font: {
         size: 2em;
         weight: normal;
         family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      }
      float: left;
   }
}

#content {
   @include clear-left;
   @include inner-container;

   background: rgb(245, 245, 255);
   overflow: hidden;
}

section {
   @include clear-left;

   position: relative;

   h3 {
      margin: 5px 0;
   }
}

footer {
   @include clear-left;

   border-top: 1px solid #515151;

   @include metal-grad;

   #footer-text {
      @include footer-container;

      font-size: .8em;
      padding-top: 7px;
      position: relative;
      text-align: center;
   }

   a, a:visited {
      @include transition(all 0.2s ease-out);

      color: #111;

      &:hover {
         color: $link-hover;
         text-decoration: none;
         border-bottom: 1px solid $link-hover;
      }
   }
}

/* Content styles */

#c-networks {
   a.network {
      @include linear-gradient(rgb(255,255,255) 0%, rgb(217,217,217) 100%);
      @include glob-radius;
      @include transition(all 0.2s ease-out);

      float: left;
      overflow: hidden;
      width: 47%;
      border: 1px solid #bbb;
      margin: 5px;
      color: $nav-bg;
      text-shadow: none;

      span.icon-b {
         font-size: 1.7em;
         line-height: 2.1em;
         padding: 2px 10px;
         -webkit-mask-image: -webkit-linear-gradient(black,black);
         text-shadow: 0 1px white;
         float: left;
      }

      span.net_name {
         float: left;
         width: 150px;
         padding-top: 10px;
      }

      span.p {
         float: left;
         width: 160px;
         font-size: .8em;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
      }

      &:hover {
         text-decoration: none;
         color: #111;
         box-shadow: 0 0 10px rgba(32, 154, 223, .7);
      }

      &:active {
         @include transition(none);
         box-shadow: 0 0 5px rgba(32, 154, 223, .7);
      }
   }
   #net_tw span.icon-b {
      color: #29C;
   }
   #net_fb span.icon-b {
      color: #2D438B;
   }
   #net_gh span.icon-b {
      color: #299CFD;
   }
   #net_li span.icon-b {
      color: #1C6AA7;
   }
   #net_lf span.icon-b {
      color: #C80300;
   }
   #net_go span.icon-b {
      color: #C64326;
   }
   #net_re span.icon-b {
      color: #342617;
      -webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,.7) ,black);
   }
   #net_pf span.icon-b {
      color: #2D9DDE;
      -webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,.7) ,black);
   }
   #net_ig span.icon-b {
      color: #bc2a8d;
   }
}

#bgs {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden;
   z-index: 1;
   width: 100%;
   height: 100%;

   #bginner {
      left: -5%;
      top: 0;
      width: 125%;
   }

   article {
      @include transition(all 0.3s ease-out);

      float: left;
      opacity: 0.3;

      img {
         width: 200px;
         height: 200px;
      }

      &:hover {
         opacity: 1;
      }
   }
}

@include meta.load-css("media.scss");
